.organize-form, .organize-short-url {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.organize-short-url {
    border: solid 1px #ababab;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Circular';
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.short-url {
    display: flex;
    justify-content: center;
}