html {
  height: 100%;
}

body {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.organize-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style {
  margin: 20px !important;
}
